.aiResults {
    background-color: whitesmoke;
}

.pckgCard {
    background-color: white;
    transition: all .2s ease-in-out;
}

.pckgCard:hover {
    transform: scale(1.01);
    box-shadow: 3px 3px 3px lightgrey;
}